# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/MiddleROV2OnBoard/v15/.suo
MiddleROV2OnBoard/Debug/board.buildinfo
MiddleROV2OnBoard/Debug/MiddleROV2OnBoard.elf
MiddleROV2OnBoard/Debug/MiddleROV2OnBoard.hex
MiddleROV2OnBoard/Debug/MiddleROV2OnBoard.ino.elf
MiddleROV2OnBoard/Debug/MiddleROV2OnBoard.ino.hex
MiddleROV2OnBoard/Debug/MiddleROV2OnBoard.ino.with_bootloader.hex
MiddleROV2OnBoard/Debug/MiddleROV2OnBoard.with_bootloader.hex
MiddleROV2OnBoard/Release/board.buildinfo
MiddleROV2OnBoard/Release/MiddleROV2OnBoard.elf
MiddleROV2OnBoard/Release/MiddleROV2OnBoard.hex
MiddleROV2OnBoard/Release/MiddleROV2OnBoard.ino.elf
MiddleROV2OnBoard/Release/MiddleROV2OnBoard.ino.hex
